site_name: synth-pdb
site_url: https://elkins.github.io/synth-pdb
repo_url: https://github.com/elkins/synth-pdb
repo_name: elkins/synth-pdb
site_description: Realistic Protein Structure Generator
copyright: Copyright &copy; 2026 George Elkins

theme:
  name: material
  features:
    - navigation.tabs
    - navigation.sections
    - content.code.copy
  palette: 
    # Light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: teal
      accent: purple
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    # Dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: teal
      accent: lime
      toggle:
        icon: material/brightness-4
        name: Switch to light mode

nav:
  - Home: index.md
  - User Guide:
    - Installation: installation.md
    - Usage: usage.md
    - Visualization: visualization.md
    - 'Biophysics 101': physics.md
  - 'For NMR Spectroscopists': nmr.md
  - API Reference: reference.md
  - Contributing: contributing.md
  - Technical Notes: technical_notes.md
  - License: license.md

markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - admonition
  - pymdownx.details
  - attr_list
  - md_in_html
